In [1]:
import os
import pandas as pd

/var/folders/gm/c4sdklyj1d5bmsf5thm4k8f00000gn/T/ipykernel_22051/3571106454.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def print_files_in_folder(folder_path):
    try:
        file_names = os.listdir(folder_path)
        return file_names
    except FileNotFoundError:
        print(f"Error: Folder '{folder_path}' not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

fns = print_files_in_folder("County_Crime")

In [3]:
def clean_county(s):
    return s.replace("_", " ").replace(" County", "")

all_county_df = pd.read_csv("County_Crime/" + fns[0])

for fn in fns[1:]:
    if fn == ".ipynb_checkpoints":
        continue
    one_county_df = pd.read_csv("County_Crime/" + fn)
    all_county_df = pd.concat([all_county_df, one_county_df], ignore_index=True, axis=0)

all_county_df["County"] = all_county_df["county"].apply(clean_county)
all_county_df = all_county_df.drop("county", axis=1)
all_county_df = all_county_df.rename(columns={"year": "Year"})

all_county_df = all_county_df.sort_values(by=["Year", "County"])
all_county_df = all_county_df.set_index(["Year", "County"])

all_county_df = all_county_df.drop_duplicates() # remove the second set of 2014 rows

all_county_df

               Violent Crimes Homicide Rape (Forcible Rape prior to 2014)  \
Year County
1985 Alameda           11,628    143.0                              791.0
     Alpine               8.0      0.0                                0.0
     Amador              79.0      3.0                                1.0
     Butte                614        3                                 68
     Calaveras          214.0     19.0                                8.0
...                       ...      ...                                ...
2023 Tulare             2,481     43.0                              257.0
     Tuolumne           369.0      1.0                               44.0
     Ventura            2,411     21.0                              226.0
     Yolo                 561        4                                 68
     Yuba               334.0      9.0                               24.0

                 Rape Attempted Rape Robbery  Weapon Firearm  \
Year County
1985 Alameda    629.0          162.0   5,427     NaN   1,991
     Alpine       0.0            0.0     0.0     NaN     0.0
     Amador       1.0            0.0     4.0     NaN     2.0
     Butte         48             20     111     NaN      45
     Calaveras    7.0            1.0     3.0     NaN     1.0
...               ...            ...     ...     ...     ...
2023 Tulare     230.0           27.0     358     NaN   126.0
     Tuolumne    44.0            0.0     9.0     NaN     1.0
     Ventura    221.0            5.0     457     NaN     105
     Yolo          66              2     104     NaN      15
     Yuba        24.0            0.0    31.0     NaN     5.0

               Knife or Cutting Instrument Other Weapon  ... Value  Over $400  \
Year County                                              ...
1985 Alameda                           493        207.0  ...   NaN      7,744
     Alpine                            0.0          0.0  ...   NaN       64.0
     Amador                            0.0          0.0  ...   NaN       98.0
     Butte                               7            8  ...   NaN        940
     Calaveras                         0.0          1.0  ...   NaN      110.0
...                                    ...          ...  ...   ...        ...
2023 Tulare                           29.0         50.0  ...   NaN        NaN
     Tuolumne                          0.0          2.0  ...   NaN        NaN
     Ventura                            66         69.0  ...   NaN        NaN
     Yolo                               11           14  ...   NaN        NaN
     Yuba                              3.0          8.0  ...   NaN        NaN

               Over $200 $200 through $400 $50 through $199 Under $50  Arson  \
Year County
1985 Alameda           0             7,787           14,473    27,154  1,063
     Alpine          0.0             109.0             53.0      29.0    0.0
     Amador          0.0              48.0             92.0     108.0    2.0
     Butte             0               987            1,799     1,665    119
     Calaveras       0.0              65.0            109.0     110.0   21.0
...                  ...               ...              ...       ...    ...
2023 Tulare        3,626               NaN              957     1,447  180.0
     Tuolumne      217.0               NaN             45.0      83.0    8.0
     Ventura       5,042               NaN            1,312     2,010     90
     Yolo          2,537               NaN              536       542     47
     Yuba          269.0               NaN             63.0      87.0   14.0

               Structural Property Mobile Property Other Property
Year County
1985 Alameda                 540.0           274.0            249
     Alpine                    0.0             0.0            0.0
     Amador                    2.0             0.0            0.0
     Butte                      33              20             66
     Calaveras                 2.0             1.0           18.0
...                            ...             ...            ...
2023 Tulare                   25.0            14.0          141.0
     Tuolumne                  1.0             0.0            7.0
     Ventura                  15.0            10.0             65
     Yolo                       12               7             28
     Yuba                      2.0             4.0            8.0

[2262 rows x 64 columns]

In [4]:
all_county_df.to_csv("all_counties_crime.csv")